<!-- check out -->
<div class="checkout">
	<div class="container">
		<h3>Pedidos</h3>
		<div class="table-responsive checkout-right animated wow slideInUp" data-wow-delay=".5s">
			<table class="timetable_sub">
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Subtotal</th>
						<th>Envio</th>
						<th>Estado</th>
						<th>Total</th>
					</tr>
				</thead>
					<tr class="rem1">
						<td class="invert">01-mar-2018</td>
						<td class="invert">$28</td>
						<td class="invert">
							$7
						</td>						
						<td class="invert">Enviado</td>
						<td class="invert">$35</td>
					</tr>
					<tr class="rem2">
						<td class="invert">01-mar-2018</td>
						<td class="invert">$28</td>
						<td class="invert">
							$7
						</td>						
						<td class="invert">Enviado</td>
						<td class="invert">$35</td>				
					</tr>
					<tr class="rem3">
						<td class="invert">01-mar-2018</td>
						<td class="invert">$28</td>
						<td class="invert">
							$7
						</td>						
						<td class="invert">Enviado</td>
						<td class="invert">$35</td>						
					</tr>
					<tr class="rem4">
						<td class="invert">01-mar-2018</td>
						<td class="invert">$28</td>
						<td class="invert">
							$7
						</td>						
						<td class="invert">Enviado</td>
						<td class="invert">$35</td>						
					</tr>
			</table>
		</div>
	</div>
</div>	
<!-- //check out -->
