<!-- login -->
<div >
	<div class="modal-dialog" role="document">
		<div class="modal-content modal-info">
			<div class="modal-body modal-spa">
				<div class="login-grids">
					<div class="login">
						<div class="login-bottom">
							<h3>Registrate gratis</h3>
							<form (submit)="onSubmitAddUser()">
								<div class="sign-up form-group">
									<h4>Correo :</h4>
									<input type="text" [(ngModel)]="email" name="email"  required class="form-control">	
								</div>
								<div class="sign-up form-group">
									<h4>Password :</h4>
									<input type="password" [(ngModel)]="pass" name="pass"  required class="form-control">
									
								</div>
								<div class="sign-up form-group">
									<h4>Vuelva a escribir la contraseña :</h4>
									<input type="password" [(ngModel)]="retryPass" name="retryPass" class="form-control" required>
									
								</div>
								<div class="sign-up form-group">
									<input type="submit" value="REGISTRATE" >
								</div>
								
							</form>
						</div>
						<div class="clearfix"></div>
						<p><a [routerLink]="['/login']">Inicia sesión</a></p>
					</div>
					<p>Al iniciar sesión, acepta nuestros <a href="#">Términos y condiciones</a> y <a href="#">La política de privacidad</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //login -->