<!-- login -->
<div >
	<div class="modal-dialog" role="document">
		<div class="modal-content modal-info">
			<div class="modal-body modal-spa">
				<div class="login-grids">
					<div class="login">
						<div class="login-bottom">
							<h3>Registrate gratis</h3>
							<form>
								<div class="sign-up">
									<h4>Correo :</h4>
									<input type="text" value="Correo electronico" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Correo electronico';}" required="">	
								</div>
								<div class="sign-up">
									<h4>Password :</h4>
									<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
									
								</div>
								<div class="sign-up">
									<h4>Vuelva a escribir la contraseña :</h4>
									<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
									
								</div>
								<div class="sign-up">
									<input type="submit" value="REGISTRATE" >
								</div>
								
							</form>
						</div>
						<div class="clearfix"></div>
						<p><a [routerLink]="['/login']">Inicia sesión</a></p>
					</div>
					<p>Al iniciar sesión, acepta nuestros <a href="#">Términos y condiciones</a> y <a href="#">La política de privacidad</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //login -->