<!-- login -->
<div >
	<div class="modal-dialog" role="document">
		<div class="modal-content modal-info">
			<div class="modal-body modal-spa">
				<div class="login-grids">
					<div class="login">
						<div class="login-right">
							<h3>Inicia sesión con tu cuenta</h3>
							<form (submit)="onSubmitLogin()">
								<div class="sign-in">
									<h4>Correo :</h4>
									<input type="text" [(ngModel)]="email" name="email"  required class="form-control">	
								</div>
								<div class="sign-in">
									<h4>Contraseña :</h4>
									<input type="password" [(ngModel)]="pass" name="pass"  required class="form-control">
									<a href="#">¿Olvido su contraseña?</a>
								</div>
								<div class="single-bottom">
									<input type="checkbox"  id="brand" value="">
									<label for="brand"><span></span>Recordar mi usuario.</label>
								</div>
								<div class="sign-in">
									<input type="submit" value="INICIAR SESIÓN" href="#">
								</div>
							</form>
						</div>
						<div class="clearfix"></div>
						<p><a [routerLink]="['/signup']">Registrarse</a></p>
					</div>
					<p>Al iniciar sesión, acepta nuestros <a href="#">Términos y condiciones</a> y <a href="#">La política de privacidad</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //login -->