<!-- check out -->
<div class="checkout">
	<div class="container">
		<h3>Productos</h3>
		<div class="table-responsive checkout-right animated wow slideInUp" data-wow-delay=".5s">
			<table class="timetable_sub">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Producto</th>
						<th>stock</th>
						<th>precio</th>
						<th>unidades vendidas</th>
						<th>Acciones</th>
					</tr>
				</thead>
					<tr class="rem1">
						<td class="invert-closeb">Producto 1</td>
						<td class="invert-image"><a><img src="/assets/images/w4.png" alt=" " class="img-responsive" /></a></td>
						<td class="invert">
							188
						</td>						
						<td class="invert">$45.99</td>
						<td class="invert">34</td>
						<td><a class="btn btn-info" [routerLink]="['/update-products']">actualizar</a></td>
					</tr>
					<tr class="rem2">
						<td class="invert-closeb">Producto 2</td>
						<td class="invert-image"><a><img src="/assets/images/ep3.png" alt=" " class="img-responsive" /></a></td>
						<td class="invert">
							188
						</td>						
						<td class="invert">$45.99</td>
						<td class="invert">34</td>	
						<td><a class="btn btn-info" [routerLink]="['/update-products']">actualizar</a></td>					
					</tr>
					<tr class="rem3">
						<td class="invert-closeb">Producto 2</td>
						<td class="invert-image"><a><img src="/assets/images/w2.png" alt=" " class="img-responsive" /></a></td>
						<td class="invert">
							188
						</td>						
						<td class="invert">$45.99</td>
						<td class="invert">34</td>
						<td><a class="btn btn-info" [routerLink]="['/update-products']">actualizar</a></td>
						
					</tr>
					<tr class="rem4">
						<td class="invert-closeb">Producto 2</td>
						<td class="invert-image"><a><img src="/assets/images/w1.png" alt=" " class="img-responsive" /></a></td>
						<td class="invert">
							188
						</td>						
						<td class="invert">$45.99</td>
						<td class="invert">34</td>
						<td><a class="btn btn-info" [routerLink]="['/update-products']">actualizar</a></td>
						
					</tr>
			</table>
		</div>
	</div>
</div>	
<!-- //check out -->