<!-- header-bot -->
<div class="header-bot">
	<div class="container">
		<div class="col-md-3 header-left">
			<h1><a [routerLink]="['/']"><img src="/assets/images/logo3.jpg"></a></h1>
		</div>
		<div class="col-md-6 header-middle">
			<form>
				<div class="search">
					<input type="search" value="Buscar" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Buscar';}" required="">
				</div>
				<div class="section_room">
					<select id="country" onchange="change_country(this.value)" class="frm-field required">
						<option value="null">Todas las categorias</option>
						<option value="null">Telas</option>     
						<option value="AX">Lencería para hogar</option>
						<option value="AX">Cortinas y persinas</option>
					</select>
				</div>
				<div class="sear-sub">
					<input type="submit" value=" ">
				</div>
				<div class="clearfix"></div>
			</form>
		</div>
		<div class="col-md-3 header-right footer-bottom">
			<ul>
				<li>
					<div class="dropdown">
					  <a class="use1 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
					  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					    <a class="dropdown-item" *ngIf="!isLogin" [routerLink]="['/login']">Login</a>
					    <a class="dropdown-item" *ngIf="!isLogin" [routerLink]="['/signup']">Registrarse</a>
					    <a class="dropdown-item" *ngIf="isLogin" [routerLink]="['/signup']">Pedidos</a>
					    <a class="dropdown-item" *ngIf="isLogin" (click)="onClickLogout()" >Salir</a>					    
					    
					  </div>
					</div>							
				</li>
				<li><a class="fb"  href="https://es-la.facebook.com/mejorvargaslleras/" target="_blank"></a></li>
				<li><a class="twi"  href="https://twitter.com/mejorvargaslle?lang=es" target="_blank"></a></li>
				<li><a class="insta" href="https://www.instagram.com/mejorvargaslleras/?hl=es" target="_blank"></a></li>
				<li><a class="you"  href="https://www.youtube.com/channel/UCw7Bz6EHxlnOoBUBlJZCWCw" target="_blank"></a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //header-bot -->
