
<div class="stats text-center col-md-6">
  <div class="stats-header">
    Ventas por categorias de este año
  </div>
  <div class="stats-body">
    <div>
	  <div style="display: block">
	    <canvas baseChart
	            [datasets]="barChartData"
	            [labels]="barChartLabels"
	            [options]="barChartOptions"
	            [legend]="barChartLegend"
	            [chartType]="barChartType"
	            (chartHover)="chartHovered($event)"
	            (chartClick)="chartClicked($event)"></canvas>
	  </div>
	</div>
  </div>
  <div class="stats-footer text-muted">
    Ganancias: $8789898
  </div>
</div>

<div class="stats text-center col-md-6">
  <div class="stats-header">
    Ventas por categorias de este año
  </div>
  <div class="stats-body">
  	<div style="display: block">
  <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
</div>
</div>
  <div class="stats-footer text-muted">
    Ganancias: $8789898
  </div>
</div>


