<!-- check out -->
<div class="checkout">
	<div class="container">
		<h3>Categorias</h3>
		<div class="table-responsive checkout-right animated wow slideInUp" data-wow-delay=".5s">
			<table class="timetable_sub">
				<thead>
					<tr>
						<th>Eliminar</th>
						<th>Nombre</th>
						<th>Subcategoria</th>

					</tr>
				</thead>
					<tr class="rem1">
						<td class="invert-closeb">
							<div class="rem">
								<div class="close1"> </div>
							</div>
							
						</td>
						<td class="invert">Telas</td>
						<td class="invert">
							<select>
							  <option value="volvo">Tendencias de moda</option>
							  <option value="saab">Telas para muebles</option>
							  <option value="vw">Confecciones femeninas</option>
							  <option value="vw">Confecciones infantiles</option>
							  <option value="vw">Confecciones masculinas</option>
							  <option value="vw">Deportivas y uniformes</option>
							  <option value="vw">Dotación industrial</option>
							</select>
						</td>
					</tr>
					<tr class="rem2">
						<td class="invert-closeb">
							<div class="rem">
								<div class="close1"> </div>
							</div>
							
						</td>
						<td class="invert">Lenceria para el hogar</td>
						<td class="invert">
							<select>
							  <option value="volvo">Almohadas</option>
							  <option value="saab">Colchones y colchonetas</option>
							  <option value="vw">Cojines</option>
							  <option value="vw">Cortinas</option>
							  <option value="vw">Edredones</option>
							  <option value="vw">Juegos de sabanas</option>
							  <option value="vw">Toallas</option>
							</select>
						</td>	
					</tr>
					<tr class="rem3">
						<td class="invert-closeb">
							<div class="rem">
								<div class="close1"> </div>
							</div>
							
						</td>
						<td class="invert">Cortinas y persinas</td>
						<td class="invert">
							<select>
							  <option value="volvo">Telas para cortinas</option>
							  <option value="saab">Cortinas listas para instalar</option>
							  <option value="vw">Persinas panorama</option>
							  <option value="vw">pasamaneria</option>
							  <option value="vw">accesorios para cortinas</option>
							</select>
						</td>					
					</tr>
			</table>
		</div>
	</div>
</div>	
<!-- //check out -->

