<div class="col-md-3 product-men">
	<div class="men-pro-item simpleCart_shelfItem">
		<div class="men-thumb-item">
			<img src="/assets/images/w3.png" alt="" class="pro-image-front">
			<img src="/assets/images/w3.png" alt="" class="pro-image-back">
				<div class="men-cart-pro">
					<div class="inner-men-cart-pro">
						<a  class="link-product-add-cart" [routerLink]="['/product']">Ver</a>
					</div>
				</div>
				<span class="product-new-top">New</span>
				
		</div>
		<div class="item-info-product ">
			<h4><a href="single.html">{{product.name}}</a></h4>
			<div class="info-product-price">
				<span class="item_price">${{product.price}}</span>
			</div>
			<a href="#" class="item_add single-item hvr-outline-out button2">Al carrito</a>									
		</div>
	</div>
</div>
