<!-- check out -->
<div class="checkout">
	<div class="container">
		<h3>Empleados</h3>
		<div class="table-responsive checkout-right animated wow slideInUp" data-wow-delay=".5s">
			<table class="timetable_sub">
				<thead>
					<tr>
						<th>Eliminar</th>
						<th>Nombre</th>
						<th>Correo</th>
						<th>Cargo</th>
						<th>Usuario</th>

					</tr>
				</thead>
					<tr class="rem1">
						<td class="invert-closeb">
							<div class="rem">
								<div class="close1"> </div>
							</div>
							
						</td>
						<td class="invert">Eliecer vera</td>
						<td class="invert"> Eliecer@eldominio.com</td>						
						<td class="invert">Vendedor</td>
						<td class="invert">LA el dominio</td>
					</tr>
					<tr class="rem2">
						<td class="invert-closeb">
							<div class="rem">
								<div class="close1"> </div>
							</div>
							
						</td>
						<td class="invert">Benito gomez</td>
						<td class="invert"> Benido@gmail.com</td>						
						<td class="invert">Vendedor</td>
						<td class="invert">benito</td>		
					</tr>
					<tr class="rem3">
						<td class="invert-closeb">
							<div class="rem">
								<div class="close1"> </div>
							</div>
							
						</td>
						<td class="invert">Orlando tamayo</td>
						<td class="invert"> ortalla9@gmail.com</td>						
						<td class="invert">Vendedor</td>
						<td class="invert">ortalla9</td>					
					</tr>
					<tr class="rem4">
						<td class="invert-closeb">
							<div class="rem">
								<div class="close1"> </div>
							</div>
							
						</td>
						<td class="invert">Daniel Diaz</td>
						<td class="invert"> danieldiaz@gmail.com</td>						
						<td class="invert">Vendedor</td>
						<td class="invert">moha-cabezon</td>					
					</tr>
			</table>
		</div>
	</div>
</div>	
<!-- //check out -->

